<!-- container -->
<div class="container">
    <div class="row margin-top justify-content-center">
        <h1 class="h1">X Enterprise</h1>
    </div>
    <div class="row mt-3 justify-content-center">
        <div class="col-lg-6 col-12">
            <div class="card">
                <div class="card-header bg-success">
                    <span class="text-white">Formulario de registro</span>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <label for="correo" class="col-form-label">
                                Correo electrónico
                            </label>
                        </div>
                        <div class="col-12">
                            <input type="email" [(ngModel)]="email" class="form-control" name="username" id="correo"
                                   placeholder="Ingrese aquí su correo electrónico">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <label for="password" class="col-form-label">Password</label>
                        </div>
                        <div class="col-12">
                            <input type="password" [(ngModel)]="password" class="form-control" name="password" id="password"
                                   placeholder="Ingrese aquí su password">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <label for="confirm_password" class="col-form-label">Confirme su password</label>
                        </div>
                        <div class="col-12">
                            <input type="password" [(ngModel)]="confirm_password" class="form-control" name="confirm_password" id="confirm_password"
                                   placeholder="Confirme su password">
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-12">
                            <input type="button" class="btn btn-block btn-success" value="Registrar" (click)="register()">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .row with card end -->
    <div class="row justify-content-center mt-3">
        <span><a href="/login">Inicie sesión</a> si ya tiene una cuenta registrada.</span>
    </div>
    <!-- .container -->
</div>