<!-- container -->
<div class="container">
    <div class="row margin-top justify-content-center">
        <h1 class="h1">X Enterprise</h1>
    </div>
    <div class="row mt-3 justify-content-center">
        <div class="col-lg-6 col-12">
            <div class="card">
                <div class="card-header bg-info">
                    <span class="text-white">Formulario de autentificación</span>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <label for="correo" class="col-form-label">
                                Correo electrónico
                            </label>
                        </div>
                        <div class="col-12">
                            <input type="email" [(ngModel)]="email" class="form-control" name="username" id="correo"
                                   placeholder="Ingrese aquí su correo electrónico">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <label for="password" class="col-form-label">Password</label>
                        </div>
                        <div class="col-12">
                            <input type="password" (keydown)="password_keydown($event)" [(ngModel)]="password" class="form-control" name="password" id="password"
                                   placeholder="Ingrese aquí su password">
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-12">
                            <input type="button" class="btn btn-block btn-info" value="Log in" (click)="log_in()">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .row with card end -->

    <div class="row justify-content-center mt-3">
        <a href="/register">Registre su cuenta aquí.</a>
    </div>

    <!-- .container -->
</div>
